body{
      background-color: #EAF6F6;
    }
hr{
    border-style: none;
    height: 0px;
    width: 5%;
    border-top-color: grey;
    border-top-style: dotted;
    border-width: 5px;
  }
h1,h2,h3,h4,h5,h6{
  color: #66BFBF;
}
table{
  align-self: center;
}
div{
  font-size: 30px;
}
td{
  font-size: 18px;
}
th{
  font-size: 20px;
  color: #F76B8A;
}
li{
  font-size: 20px;
}
